RewriteEngine On
RewriteBase /xpt/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|assets|robots\.txt|system)
RewriteRule ^(.*)$ /xpt/index.php?/$1 [L]
